.header {
    grid-area: header;
    background-color: black;
}

.header img {
    width: 100px;
    margin: 20px;
}

.loginBlock {
    float: right;
    color: white;
}

.loginBlock a {
    color: yellow;
}